body,
textarea,
input { 
	font: 13px "Trebuchet MS", sans-serif;
}

.chat {
	position: fixed; 
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.chat-messages,
.chat textarea,
.chat-name {
	border:1px solid #bbb;
}

.chat-messages {
	width:800px;
	height:300px;
	overflow-y:scroll;
	padding:10px;
}

.chat-name {
	width:400px !important;
	padding:10px;
	border-bottom:0;
	margin:0;
	position: fixed; 
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#select-class {
	width:400px !important;
	position: fixed; 
  	top: 50%;
  	left: 120%;
  	transform: translate(-50%, -50%);
}

.chat textarea {
	width:100%;
	padding:10px;
	margin: 0;
	border-top:0;
	max-width:100%;
}

.chat-status {
	color:#bbb;
}

.chat textarea,
.chat-name {
	outline:none;
}

.chat-message {
	margin-bottom:10px;
}